html, body {
    margin: 0;
    height: 100%;
}

body {
    background-image: url('bg.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#px {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
