html, body {
    margin: 0;
    height: 100%;
}

#px {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

